// Palette Colors
$color-one:hsl(208, 23%, 22%);
$color-two:hsl(209, 26%, 17%);
$color-three:hsl(200, 15%, 8%);
$color-four:hsl(0, 0%, 52%);
$color-five:hsl(0, 0%, 98%);
$color-six:hsl(0, 0%, 100%);