@import "../resources-sass/normalize";
@import "../resources-sass/variables";
@import "../resources-sass/mixin";
body{
    font-family: 'Nunito Sans', sans-serif;
    background:$color-six;
}
header{
    background:white;
    display:flex;
    padding:1rem 10px;
    justify-content: space-between;
    box-shadow:0 3px 10px  #eeee ;
    .header__title{
        font-weight: 800;
        color:$color-three;
        font-size:14px;
    }
    .dark-mode{
        display:flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }
    .dark-mode__title{
        margin:0;
        padding:0 0 0 1rem;
    }
}
form{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 0 2rem 1rem;
    .search-box{
        background:white ;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 20px rgba(209, 209, 209, 0.933);
        margin:0 0 2rem 0;
        padding:0 10px 0 10px;
        color:$color-four;
        border-radius:5px;
    }
    .search__icon{
        cursor: pointer;
    }
    .search{
        border:none;
        outline: none;
        padding:0 0 0 1rem;
        color:$color-four;
        &::placeholder{
            font-weight: 300;
        }
    }
    & select{
        outline: none;
        padding:14px;
        border:none;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(209, 209, 209, 0.933);
    }
}
.countries{
    display:grid;
    grid-gap: 2rem;   
    padding:0 1rem; 
    .country{
        box-shadow: 0 0 20px rgba(209, 209, 209, 0.933);
        background: white;
        border-radius: 10px;
        color:$color-three;
        .country__image{
            width: 100%;
            border-radius: 10px 10px 0 0 ;
        }
        .country__data{
            padding:0 0 0 1rem;
        }
    }
}